<div id="<%= dom_id job %>">
  <p>
    <strong>Client:</strong>
    <%= job.client_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= job.location_id %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= job.vehicle_id %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= job.source_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= job.quantity %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= job.start_date %>
  </p>

  <p>
    <strong>Job type:</strong>
    <%= job.job_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= job.status %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= job.address %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= job.price %>
  </p>

</div>
