<div id="<%= dom_id customer %>">
  <p>
    <strong>Client:</strong>
    <%= customer.client_id %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= customer.source_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= customer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= customer.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= customer.phone %>
  </p>

  <p>
    <strong>Accepts sms:</strong>
    <%= customer.accepts_sms %>
  </p>

</div>
