<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Client:</strong>
    <%= vehicle.client_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= vehicle.name %>
  </p>

  <p>
    <strong>Vin:</strong>
    <%= vehicle.vin %>
  </p>

  <p>
    <strong>Make:</strong>
    <%= vehicle.make %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= vehicle.year %>
  </p>

  <p>
    <strong>Vehicle type:</strong>
    <%= vehicle.vehicle_type %>
  </p>

</div>
