<div id="<%= dom_id location %>">
  <p>
    <strong>Client:</strong>
    <%= location.client_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= location.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= location.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= location.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= location.zip %>
  </p>

</div>
